[Desktop Entry]
Version=
Name=mSIGNA
Comment=
Icon=/usr/share/mSIGNA/mSIGNA.png
Exec=/usr/bin/mSIGNA
Terminal=false
Type=Application
Categories=Office;Finance;
